body{
  font-family: sans-serif;
  margin: 0;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  background: #fff8f0;
  color: #3b2f2f;
  font-size: 20px;
  
}


.menu-list {
    list-style: none; /* (Вже тут, щоб прибрати крапки) */
    padding: 0;
    margin: 0;

    display: flex;
   
}

header {
    padding: 18px 24px;
    background: #6b4f4f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.menu-list a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.06);
    margin-left: 8px;
}




.text{
    width: 40%;
    text-align: center;
}
.order {
    margin-top: 12px;
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    background: #6b4f4f;
    color: white;
    cursor: pointer;
    
}

.hero {
    padding: 20px;
    display: flex;
    min-height: 70vh;
    justify-content: space-evenly;
    align-items: center;
  
   
}

.aloe{
    width: 50%;
}


.hero2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    min-height: 90vh;
    color: white;
    background: url(пооп.jpg) no-repeat center/cover;
    text-shadow: 2px 2px 5px black;
}



.hero2 h1 {
    font-size: 50px;
    margin-bottom: 0; 

}

.hero2 p {
    font-size: 22px;
   
}

.cta-button {
  padding: 15px;
 text-decoration: none;
 color: white;
 border-radius: 50px;
 font-weight: bold;
    margin-top: 25px;
    background-color: #28b485;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
} 

footer {
    background: #fff8f0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f0e6e0;
}









































